
{% extends 'layout.html' %}

{% block css %}
    <link href="static/styles/bootstrap.min.css" rel="stylesheet">
    <link href="static/styles/jumbotron.css" rel="stylesheet">
{#    <link rel="stylesheet" href="static/styles/oldmin.css">#}
{##}
{#    <style>#}
{#      div.msg_bbl {#}
{#        background-color: #ddd;#}
{#        padding: 5px 10px;#}
{#        border-radius: 10px;#}
{#        color: #555;#}
{#        margin-bottom: 5px;#}
{#      }#}
{#    </style>#}
{% endblock %}

{% block body %}
  {% include 'includes/navbar.html' %}
    <main role="main">
    <hr>
    <div class="container" style="display-inline:block">
      <div style="border: #1c7430 1px solid; border-radius: 5px;">
        <div class="no_message">
          <h1 style='color: #ccc'>No message yet..</h1>
          <div class="message_holder"></div>
        </div>
      </div>
      <div class="col-sm-4">
        <form action="" method="POST">
          <div class="clearfix" style="margin-top: 5px;"></div>
          <div style="padding-top: 5px;"></div>
          <input type="text" class="message form-control" placeholder="Messages">
          <div style="padding-top: 5px;"></div>
          <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-send"></span> Send</button>
        </form>
      </div>
    </div>
        <hr>
    </main>

{% endblock %}

{%  block js %}
<script src="static/js/jquery.min.js"></script>
    <script src="static/js/socket.io.min.js"></script>
    <script>
      var socket = io.connect( 'http://' + document.domain + ':' + location.port )
      // broadcast a message
      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = '{{ user }}'
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          // empty the input field
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      // capture message
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h1' ).remove()
          $( 'div.message_holder' ).append( '<div class="msg_bbl"><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      } )
    </script>
{% endblock %}